#franqueado {
    background-color: #fef5f6;
}

#franqueado #botao-franqueado {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    bottom: 0;
    position: relative;
    width: 340px;
    margin-left: -28px;
    margin-bottom: 50px;
	background: #78bab0;
    background: -moz-linear-gradient(left, #78bab0 0%, #99d5cb 17%, #99d5cb 50%, #78bab0 84%, #78bab0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #78bab0), color-stop(17%, #99d5cb), color-stop(50%, #99d5cb), color-stop(84%, #78bab0), color-stop(100%, #78bab0));
    background: -webkit-linear-gradient(left, #78bab0 0%, #99d5cb 17%, #99d5cb 50%, #78bab0 84%, #78bab0 100%);
    background: -o-linear-gradient(left, #78bab0 0%, #99d5cb 17%, #99d5cb 50%, #78bab0 84%, #78bab0 100%);
    background: -ms-linear-gradient(left, #78bab0 0%, #99d5cb 17%, #99d5cb 50%, #78bab0 84%, #78bab0 100%);
    background: linear-gradient(to right, #78bab0 0%, #99d5cb 17%, #99d5cb 50%, #78bab0 84%, #78bab0 100%);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);

    -webkit-backface-visibility: hidden;
}

#como-ser-franqueado {
    margin: 40px;
}

#como-ser-franqueado > div {
    margin-bottom: 30px;
}

#como-ser-franqueado .titulo-destaque-grande {
    font-size: 65px;

    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);

    padding-bottom: 20px;
}

.franqueado-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

#franqueado-texto-principal {
    margin-bottom: 50px;
}

.franqueado-item-titulo {
    position: relative;
    font-family: 'LavanderiaStudy';
    font-size: 24px;
}

.franqueado-item-titulo:before {
    content: '';
    display: inline-block;
    height: 80%;
    width: 80%;
    position: absolute;
    margin-left: -30px;
    background: url("../img/coracao_marrom.png") no-repeat;
}

.franqueado-item-texto {
    margin-top: 10px;
    margin-bottom: 10px;
}

#franqueado .borda-destaque {
    padding-bottom: 0 !important;
}